html, body {
    height: 100%;
}

.navbar {
    min-height: 100px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggler {
    margin-top: 23px;
    padding: 9px 10px !important;
}

h1 {
    color: cadetblue
    ;
}

h3 {
    color: cadetblue;
    padding-top: 5px;
    ;
}

footer {
    background-color: teal;
    flex-shrink: 0
    ;
}
.pagecontainer {
    padding: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color:gainsboro;
}
body {
    background-color:whitesmoke
    ;
    display: flex;
    flex-direction: column;
}

/* .content {
    flex: 1 0 auto;
} */

.pic_size {
    min-width: 50px;
}
.visuals {
    display:flex;
    flex-flow: row wrap;
}

.textpadding {
    padding-top: 10px; 
}
.visuals article {
    min-width: 50%;
    flex: 1;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .visuals {
      flex-flow: row nowrap;
    }
}